@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  margin: 0px;
  background-color: rgb(253, 152, 115);
  font-family: "Roboto Mono";
  overflow-x: hidden;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 172, 95);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 172, 95);
  font-family: "Roboto Mono", monospace;
  font-size: 24px;
  font-weight: 500;
}

.header {
  font-size: 32px;
  font-weight: 700;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-style: italic;
}

.nav-link:hover {
  color: whitesmoke;
}

.cart-info {
  padding: 5px;
  background-color: rgb(253, 152, 115);
  border-radius: 4px;
}

.shop-items {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  padding: 0px 50px;
}

.shop-item {
  border: 6px solid rgb(255, 172, 95);
  border-radius: 4px;
  background-color: rgb(255, 172, 95);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 310px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
}

.item-img {
  width: 300px;
  height: 300px;
  border-radius: 4px;
}

.img-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 3px solid rgb(253, 152, 115);
  border-bottom: 3px solid rgb(253, 152, 115);
  padding: 5px;
}

.add-to-cart {
  padding: 4px 6px;
  background-color: rgb(253, 152, 115);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
}

.add-to-cart:hover, .cart-info:hover, .checkout:hover {
  box-shadow: -5px 5px 5px #888;
}

.item-price {
  width: 90%;
  align-self: flex-start; 
  margin-left: 10px;
}

.title {
  font-size: 38px;
  text-align: center;
  font-weight: 500;
  margin-top: 200px;
}

.home-setup {
  text-align: center;
}


.cart {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 2;
  transform: translate(100%, 0%);
  background-color: rgb(252, 144, 44);
  transition: 500ms;
}

.cart-show {
  transform: translate(0%, 0%);
}

.checkout-div {
  display: flex;
  gap: 24px;
  width: 90%;
  margin: 4px auto;
  background-color: rgb(253, 152, 115);
  padding: 10px;
  height: 40px;
  align-items: center;
  font-size: 22px;
  border-radius: 4px;
}

.checkout {
  margin-left: auto;
}

.total, .total-items, .checkout {
  padding: 5px 8px;
  background-color: rgb(255, 172, 95);
  border-radius: 4px;
}

.cart-content {
  margin: 24px;
  margin-bottom: 5px;
  display: flex;
  gap: 6px;
  overflow-x: auto;
  padding-bottom: 5px;
  background-color: #666;
  padding: 6px;
  border-radius: 4px;
}

.cart-content::-webkit-scrollbar {
  height: 10px;
}

.cart-content::-webkit-scrollbar-thumb {
  background: rgb(253, 152, 115);
}

.buttons button {
  margin-left: 3px;
  font-size: 24px;
  font-weight: 700;
  padding: 3px 8px;
}

.total-info {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.item-added {
  width: 200px;
  text-align: center;
  background-color: #3882f6;
  border-radius: 4px;
  opacity: 0;
  position: absolute;
  z-index: 1;
  transition: 400ms;
}

.item-added-show {
  opacity: 1;
  transform: translate(0%, 10%);
}